<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <div class="container">

      {% if session.error is defined %}
        {{ session.error }}
      {% endif %}

      <form action="/admin/login" method="POST">
        <label for="">E-mail:</label>
        <input type="text" name="email" />

        <label for="">Password:</label>
        <input type="text" name="password" />

        <label for=""></label>
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
